$light-blue: #0094ff;
$black: #222222;
$film-hover: #d9d9d9;
$button-hover: darken($light-blue, 10%);
$button-diszbled: lighten($light-blue, 20%);
$placeholder: #979797;
$white: #fff;
$title-hover: red;
$link-hover: #979797;
